{% extends 'base.html' %}

{% block content %}

<h1>Profile</h1>

<p>{{ user.username }}</p>
<p>{{ user.email }}</p>

<h1>Created by you</h1>
<hr>

{% if created_polls|length == 0 %}
    <h5>You don't have any created polls yet :(</h5>
{% else %}
    
    {% for poll in created_polls %}
        <h5>{{poll.name}}</h5>
        <p>{{ poll.expiration_date }}</p>
    {% endfor %}

    {% if created_polls.has_other_pages %}
    <ul class="pagination">
        {% if created_polls.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ created_polls.previous_page_number }}">&laquo; Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo; Previous</span></a></li>
        {% endif %}
        {% for i in created_polls.paginator.page_range %}
        {% if created_polls.number == i %}
            <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
            <li class="page-item disabeld"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if created_polls.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ created_polls.next_page_number }}">Next &raquo;</a></li>
        {% else %}
        <li class="disabled page-item"><a class="page-link" href="#"><span>Next &raquo;</span></a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endif %}




{% endblock %}