{% extends "base.html" %}
{% load form_tag %}

{% block content %}

<section class="container h-100 mt-5">
  <div class="row justify-content-lg-center">
    <div class="card col-lg-8">
      <div class="card-body">
        <h4 class="card-title text-center">Sign in</h4>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            {% if form.errors %}
            <label class="my_class" for="{{ form.username.name }}">{{ form.username.label }}</label>
            {{ form.username | addclass:"form-control is-invalid" }}
            {% else %}
            <label class="my_class" for="{{ form.username.name }}">{{ form.username.label }}</label>
            {{ form.username | addclass:"form-control" }}
            {% endif %}
          </div>
          <div class="form-group">
            {% if form.errors %}
            <label class="my_class" for="{{ form.password.name }}">{{ form.password.label }}</label>
            {{ form.password | addclass:"form-control is-invalid" }}
            {% else %}
            <label class="my_class" for="{{ form.password.name }}">{{ form.password.label }}</label>
            {{ form.password | addclass:"form-control" }}
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% if form.errors %}
            <div class="invalid-feedback">Your username and password didn't match. Please try again.</div>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <div class="invalid-feedback">Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</div>
            {% else %}
            <div class="invalid-feedback">Please login to see this page.</div>
            {% endif %}
            {% endif %}
          </div>
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          <button class="btn btn-primary" value="login" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}