{% extends "base.html" %}
{% load form_tag %}

{% block content %}
{% if validlink %}
<section class="container mt-5">
    <div class="row justify-content-lg-center">
        <div class="card col-lg-8">
            <div class="card-body">
                <h4 class="card-title text-center">Reset password</h4>
                <p>Please enter (and confirm) your new password.</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if form.errors %}
                        <label class="my_class"
                            for="{{ form.new_password1.name }}">{{ form.new_password1.label }}</label>
                        {{ form.new_password1 | addclass:"form-control is-invalid" }}
                        <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                        {% else %}
                        <label class="my_class"
                            for="{{ form.new_password1.name }}">{{ form.new_password1.label }}</label>
                        {{ form.new_password1 | addclass:"form-control" }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.errors %}
                        <label class="my_class"
                            for="{{ form.new_password2.name }}">{{ form.new_password2.label }}</label>
                        {{ form.new_password2 | addclass:"form-control is-invalid" }}
                        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                        {% else %}
                        <label class="my_class"
                            for="{{ form.new_password2.name }}">{{ form.new_password2.label }}</label>
                        {{ form.new_password2 | addclass:"form-control" }}
                        {% endif %}
                    </div>
                    <button class="btn btn-primary" value="Change my password" type="submit">Change my password</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% else %}
<section id="call-to-action" class="py-5">
    <div class="container h-100">
        <div class="h-100 d-flex flex-column justify-content-center align-items-start text-left">
            <h1 class="display-1 text-danger">Password reset failed</h1>
            <p class="display-4">The password reset link was invalid, possibly because it has already been used. Please
                request a new password reset.</p>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}