{% extends "base.html" %}
{% load form_tag %}

{% block content %}
<section class="container mt-5">
  <div class="row justify-content-lg-center">
    <div class="card col-lg-8">
      <div class="card-body">
        <h4 class="card-title text-center">Reset password</h4>
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            {% if form.errors %}
            <label class="my_class" for="{{ form.email.name }}">{{ form.email.label }}</label>
            {{ form.email | addclass:"form-control is-invalid" }}
            <div class="invalid-feedback">Your email didn't match any entry.</div>
            {% else %}
            <label class="my_class" for="{{ form.email.name }}">{{ form.email.label }}</label>
            {{ form.email | addclass:"form-control" }}
            {% endif %}
          </div>
          <button class="btn btn-primary" value="Reset password" type="submit">Reset password</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}