{% extends 'base.html' %}
{% load form_tag %}

{% block content %}
<section class="container h-100 mt-5">
  <div class="row justify-content-lg-center">
    <div class="card col-lg-8">
      <div class="card-body">
        <h4 class="card-title text-center">Sign Up</h4>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
            {% if field.errors %}
            {{ field | addclass:"form-control is-invalid" }}
            {% else %}
            {{ field | addclass:"form-control" }}
            {% endif %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}