{% extends "base.html" %}
{% block content %}
    <h1>Create a poll</h1>
    <form method="POST" id="poll_form" action="createPoll" autocomplete="off">
        {% csrf_token %}
        <div class="form-check form-check-inline">
            <input name="is_private" type="checkbox" id="is_private" class="form-check-input"/>
            <label for="is_private" class="form-check-label">Private form</label>
        </div>
        <br>
        <div class="form-group">
            <label for="search_user">Invite user in the poll : </label>
            <input type="search" class="form-control" name="search_user" placeholder="Type user name here ! " id="search_user">
        </div>
        <input type="hidden" id="selected_user" name="selected_user">
        <div id="selected_user_display"></div>
        <div class="form-group">
            <label for="poll_name">Poll's name : </label>
            <input class="form-control" type="text" name="poll_name" id="poll_name" required/>
        </div>
        <div class="form-group">
            <label for="poll_description">Poll's description : </label>
            <textarea name="poll_description" class="form-control" id="poll_description" required></textarea>
        </div>
        <div class="form-group">
            <label for="expiration_date">Expiration date : </label>
            <input type="date" name="expiration_date" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="add_proposition"></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="add_proposition"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-success" id="add_proposition_button">Add proposition</button>
              </div>
            </div>
        </div>
        <input type="hidden" id="proposed_prop" name="proposed_prop">
        <div id="proposed_prop_display"></div>
        <input type="submit" class="btn btn-dark" value="Submit poll">
    </form>
{% endblock %}