{% extends "base.html" %}
{% block content %}
    <h1>Create a poll</h1>
    <form>
        <div class="form-check form-check-inline">
            <input name="is_private" type="checkbox" id="is_private" class="form-check-input"/>
            <label for="is_private" class="form-check-label">Private form</label>
        </div>
        <br>
        <div class="form-group">
            <label for="search_user">Invite user in the poll : </label>
            <input type="search" class="form-control" name="search_user" placeholder="Type user name here ! " id="search_user">
            <!--<button type="button" class="btn btn-primary" id="add_user" disabled>Add user</button>-->

        </div>
        <div id="selected_user"></div>
        <div class="form-group">
            <label for="poll_name">Poll's name : </label>
            <input class="form-control" type="text" name="poll_name" id="poll_name"/>
        </div>
        <div class="form-group">
            <label for="poll_description">Poll's description : </label>
            <textarea name="poll_description" class="form-control" id="poll_description"></textarea>
        </div>
        <div class="form-group">
            <label for="expiration_date">Expiration date : </label>
            <input type="date" name="expiration_date" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="add_proposition"></label>
            <input type="text" class="form-control" id="add_proposition"/><button type="button" class="btn btn-success" id="add_proposition_button">Add proposition</button><br>
        </div>
        <input type="submit" class="btn btn-dark" value="Submit poll">
    </form>
{% endblock %}