html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

#selected_user p {
    border: solid 1px black;
    padding: 3px;
}

.proposed_poll_display {
    border: solid 1px black;
    padding: 3px;
    background-color: rgb(167, 167, 167);
}

.proposed_poll_display:hover {
    background-color: white;
}

#user-avatar {
    border: 1px solid #e1e4e8;
}

#user-infos small {
    font-size: 55%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
}